@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
  margin: 0;
  background-color: #17213f;
}

div img {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  margin-top: -5.5rem;
  height: 22rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem;
  gap: 1rem;
}

.imageContainer {
  width: 18rem;
  height: 10rem;
  overflow: hidden;
}

.cardsMade {
  border-radius: 0.5rem;
  color: #999dc2;
  background: #0f162b;
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
  font-weight: 100;
  overflow: hidden;
  width: 15rem;
  height: 19.2rem;
}

.content {
  padding: 0rem 1.2rem;
}
.content h3 {
  margin-top: -1rem;
}

.companyLogo {
  height: 1.5rem;
  margin: 0.1rem 0rem 0.5rem 0rem;
}

#lastCard {
  text-align: center;
  background-color: #17213f;
  border: #0f162b 0.2rem solid;
  border-radius: 0.1rem;
  font-size: 1rem;
}

#lastCard h1 {
  margin-top: 6.8rem;
}

#lastCard p {
  margin-top: -1.5rem;
}
