@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700;800;900&family=Poppins:wght@500&display=swap");

body {
  display: flex;
  background-color: #ebebeb;
  font-family: "Noto Sans", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem 7rem;
  color: #4671bb;
  font-weight: 400;
}

form h1 {
  font-size: 3rem;
  color: #2d72f1;
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 2rem;
  font-weight: 800;
}

#company,
#priority,
#task,
#tags,
#numberOfPeople {
  font-weight: 400;
  font-size: 1.2rem;
  padding: 0rem 1rem;
  height: 2.5rem;
  margin: 0.2rem 0rem 2rem 0rem;
  /* border-style: none; */
  border-color: #d2d2e8;
}

#task,
#tags,
#numberOfPeople {
  border-style: none;
  border: 0.12rem solid #d2d2e8;
}

#addButton {
  height: 2.5rem;
  background-color: #2d72f1;
  color: white;
  border-style: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 300;
}
.cardContent {
  flex: 4;
}

#imageContainer {
  border-radius: 5rem;
  height: 4rem;
  width: 4rem;
  overflow: hidden;
  margin: 1rem;
  box-shadow: -3px 0px 5px 2px rgba(227, 220, 227, 1);
}

#cardGot {
  margin-left: 3rem;
  width: 34rem;
  height: 10rem;
  background-color: white;
  margin-top: 11.5rem;
  display: flex;
  gap: 2rem;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0px -1px 12px 1px rgba(163, 158, 163, 1);
}

#dateGot {
  color: #7b8489;
}

#imageContainer img {
  height: 2rem;
  margin-left: 0.2rem;
  margin-top: 0.8rem;
}

#firstComp {
  width: 25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#priorityHead {
  background-color: #f46291;
  width: 3rem;
  margin: 0.5rem 0rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  color: white;
  font-size: 0.8rem;
}

#tagsGot {
  margin: 1rem 0rem;
  display: flex;
}

.tagy {
  background-color: #dcdcdc;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin-right: 1rem;
  color: #4671bb;
}

#taskHead {
  color: #353e9b;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  margin: 0.5rem 0rem;
}

.lastComp {
  display: flex;
  justify-content: space-between;
  color: #547cc0;
}

.lastComp i {
  margin-right: 1rem;
}
