@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");

body {
  background-color: #2f2d3f;
  font-family: "Open Sans", sans-serif;
}

#container {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  display: flex;
  flex-direction: column;
  width: 34rem;
  margin-top: 5rem;
  margin-left: 5rem;
  overflow: hidden;
}

.allImages {
  display: flex;
}

.headerSection {
  display: flex;
  align-items: center;
  background-color: #ff6e6e;
  padding: 2rem;
  color: white;
  font-family: "Open Sans", sans-serif;
}

.headerSection h1 {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.headerSection p {
  font-weight: 400;
  font-size: 0.8rem;
}

.imageContainer {
  border-radius: 10rem;
  border: 0.2rem white solid;
  object-fit: contain;
  overflow: hidden;
}

.imageContainer img {
  width: 3rem;
  height: 3rem;
  margin-bottom: -0.1rem;
}

#image1 {
  z-index: 2;
}

#image2 {
  z-index: 1;
  margin-left: -0.5rem;
}

#image3 {
  z-index: 2;
  margin-left: -0.5rem;
}

#Intro {
  margin-left: 1rem;
}

.content {
  height: 12rem;
  background-color: #282639;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.content img {
  width: 3rem;
  height: 3rem;
}

#imageCont {
  border-radius: 10rem;
  border: 0.2rem white solid;
  object-fit: contain;
  overflow: hidden;
  width: 3rem;
  height: 2.7rem;
}

#typeText {
  margin-top: 3rem;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
  height: 2.8rem;
  width: 30rem;
  background-color: #3a384c;
  border-style: none;
  border: #ff6e6e 0.1rem solid;
  color: #6a6d7d;
  padding-left: 1rem;
}

#paperPlane {
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  border: #ff6e6e 0.1rem solid;
  align-self: flex-end;
  height: 2.9rem;
  width: 3rem;
  color: white;
}

#paperPlaneIcon {
  margin-left: 0.4rem;
  margin-top: 1.5rem;
}

.messageCon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -0.6rem;
}

.messageBody {
  display: flex;
  gap: 1rem;
}

.message {
  width: 25rem;
  background-color: #3a384c;
  color: white;
  padding: 2rem;
  border-radius: 1rem;
}

#crossButton {
  margin-top: 0.7rem;
  width: 1.3rem;
  height: 0.9rem;
  background-color: #ff6e6e;
  padding: 0.8rem;
  padding-left: 1.1rem;
  padding-top: 1.6rem;
  border-radius: 10rem;
  margin-right: 0rem;
  align-self: flex-end;
}
