body {
  background-color: #fafafa;
}

#container {
  background-color: #f5f7fb;
  height: 40rem;
  width: 20rem;
  margin: auto;
  margin-top: 4rem;
  box-shadow: -2px 0px 38px -10px rgba(0, 0, 0, 0.75);
  padding: 1rem;
}

.imageContainer img {
  width: 18rem;
  margin-left: 1rem;
}

.firstComp {
  display: flex;
  justify-content: space-between;
}

.firstComp i {
  font-size: 1.5rem;
}

.title {
  text-align: center;
  margin: 0rem 0rem 1rem 0rem;
}

.musicPlayer {
  display: flex;
  justify-content: space-between;
}

.musicPlayer i {
  font-size: 3rem;
  padding-top: 1rem;
}

.song,
#musicDetail {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0rem;
}
